.addColorSizeDiv{
    background-color: white;
    display: flex;
    padding: 90px;
    padding-top: 0px;
}

.colorDiv, .sizeDiv{
    display: flex;
    flex-direction: column;
}

#prodTable{
    padding: 90px;
    padding-top: 0;
    padding-left: 0;
    background-color: white;
}